.partner-logo-swiper .swiper-slide.swiper-slide-visible{
    filter: grayscale(0.9);
    opacity: 0.5;
}
.partner-logo-swiper .swiper-slide-thumb-active{
    filter: unset !important;
    opacity: 1 !important;
}