  .product-gallery-swiper {
      width: 100%;
      height: 100%;
      direction: ltr;
  }

  .product-gallery-swiper .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
  }

 .product-gallery-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

  .product-gallery-swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
  }

  .product-gallery-swiper .swiper-slide {
      background-size: cover;
      background-position: center;
  }

  .product-gallery-swiper2 .swiper-slide {
      background: #bae0f5 !important;
  }
  .product-gallery-swiper .swiper-slide {
      background: #bae0f5 !important;
  }

  .product-gallery-swiper2 {
      height: 80%;
      width: 100%;
  }

  .product-gallery-swiper {
      position: absolute;
      left: 15px;
      top: 0;
  }

  .product-gallery-swiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
  }

  .product-gallery-container {
      border-radius: 15px;
      overflow: hidden;
  }

  .product-gallery-swiper .swiper-slide-thumb-active {
      opacity: 1;
  }

  .product-gallery-swiper2 .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .product-gallery-swiper .swiper-slide {
      width: 80px !important;
      height: 100%;
      opacity: 1;
      border-radius: 5px;
      overflow: hidden;
      height: 80px;
      border: 1px solid #33333350;
      padding: 5px;
  } 
  .product-gallery-swiper2 {
    height: 460px;
    width: 100%;
    padding-top: 90px;
}