.title-line {
    width: 130px;
    height: 4px;
    background: linear-gradient(90deg, rgba(3, 76, 148, 1) 0%, rgba(35, 188, 249, 1) 35%);
    display: block;
}

.main-title {
    color: #044F97;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}


@media only screen and (max-width: 600px) {
    .title-line {
        width: 30px;
        height: 4px;
        background: linear-gradient(90deg, #034c94 0%, #23bcf9 35%);
        display: block;
    }

    .main-title {
        font-size: 18px;
    }
}