.ctu-box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    background: #104369;

}

.ctu-main-content {
    position: relative;
    z-index: 2;
}

.ctu-box {
    border-radius: 3.5rem;
}
.map-responsive {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
  }
  
  .map-responsive iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
@media (max-width:991px) {
    .ctu-box::after {
        display: none;
    }
    .iran_map_pic{
        height: 200px;
        margin-top: 30px;
    }
    .social-media-container{
        background-color: #0067ad;
        padding: 5px;
        border-radius: 5px;
    }
}